{:paths   ["src"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-554"}
                                lambdaisland/kaocha-cljs {:mvn/version "0.0-59"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}}}
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}}}
