{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:test-check {:extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
           :test       {:extra-paths ["test"]
                        :extra-deps  {lambdaisland/kaocha           {:mvn/version "0.0-554"}
                                      lambdaisland/kaocha-cljs      {:mvn/version "0.0-59"}
                                      lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}}}}

;; Memo for deploying a new release:
;; - change the version in pom.xml
;; - build the jar:
;;     clojure -A:depstar -m hf.depstar.jar minimallist.jar -v
;; - deploy:
;;     mvn deploy:deploy-file -Dfile=minimallist.jar -DpomFile=pom.xml -DrepositoryId=clojars -Durl=https://clojars.org/repo/
;; - add a tag "v0.0.x" to the latest commit and push to repo
